configuration {
	modes: "window,drun,run,ssh,calc,filebrowser";
  show-icons : true;
  display-drun: "applications";
  drun-display-format: "{icon} {name}";
  click-to-exit: true;
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}



@theme "macchiato"